*{
    margin: 0;
    padding: 0;
}
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
/*nav section*/
nav{
    
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}
.menu{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}
.btn{
    background-color: #30B868;
    padding: 12px 16px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}
