*{
    margin: 0;
    padding: 0;
}
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.container {
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
/*nav section*/
nav{
    
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
}
.menu{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
    
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.btn{
    background-color: #30B868;
    padding: 12px 16px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    transition: all 0.4s ease;
}
.btn:hover{
    background: white;
    border: 1px solid #30B868;
    color: black;
     transform: translateY(-6px) scale(1.07);
}

/*banner section*/
header #banner {
    background: url("../assets/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 630px;

}

header #banner .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 115px;

}

#banner .banner-container .banner-content {
    text-align: center;
}

.banner-content .early {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    border-radius: 1000px;
    padding: 8px 12px;
    margin-bottom: 14px;
}

.banner-content .early .dot {
     height: 8px;
  width: 8px;
  background-color: #4ade80; /* Bright green dot */
  border-radius: 50%;
  
  box-shadow: 0px 0px 8px green;
}

.banner-container .banner-heading h2 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 14px;

}

.banner-container .banner-heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 27px;
}
.banner-btn{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.btn2{
       font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.4s ease;
}
.btn2:hover{
    background: white;
    border: 3px solid #30B868;
    color: black;
     transform: translateY(-6px) scale(1.07);
}
.btn3{
      font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 13.5px 16px;
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.4s ease;
}
.btn3:hover{
    background: white;
    border: 3px solid #30B868;
    color: black;
     transform: translateY(-6px) scale(1.07);
}
#note .note-container{
    padding-top: 50px;
}
.note-heading h2{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 16px;
}
.note-heading p{
    font-size: 16px;
    line-height: 20px;
     text-align: center;
     margin-bottom: 50px ;
}
.card-box{
    display: flex;
    gap: 24px;
}
.card{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
    background: white;
}
.card h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    
}
.icon{
    background-color: #F95555;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
}

